/* dark-theme.css */
body {
    background-color: #121212 !important;
    color: white !important;
}

.cus-input {
    background-color: #333 !important;
    color: white !important;
    border: 1px solid #555 !important;
}

.cus-input::placeholder {
    color: '#dcdde1' !important;
}